# Credenciais do CallBox
CALLBOX_USER=Soomar_Supervisor
CALLBOX_PASS=Soomar@123

# Credenciais do Portal Positiva
PORTAL_USER=adriana@stoppelli.com.br
PORTAL_PASS=151515

# Credenciais Supabase (Preencher depois)
SUPABASE_URL=
SUPABASE_KEY=

# Define se o navegador roda em background (True) ou visual (False)
HEADLESS=False
